---
import Layout from "../layouts/Layout.astro";
---

<Layout title="color hexadesimal">
	<main class="centrar-flex" id="contenedor">
		<p id="color">#2b807b</p>
		<button>Cambiar color</button>
	</main>
</Layout>
<script>
	const boton = document.querySelector("button");
	const color = document.getElementById("color");

	function colorHexaAleatorio() {
		let digitos = "0123456789ABCDEF";
		let colorHex = "#";
		for (let i = 0; i < 6; i++) {
			let indiceAleatorio = Math.floor(Math.random() * 16);
			colorHex += digitos[indiceAleatorio];
			// colorHex += digitos[Math.floor(Math.random() * 16)];
		}
		return colorHex;
	}

	boton.addEventListener("click", () => {
		let colorAleatorio = colorHexaAleatorio();
		color.textContent = colorAleatorio;
		document.body.style.backgroundColor = colorAleatorio;
	});
</script>

<style is:global>
	* {
		margin: 0;
		padding: 0;
	}
	body {
		background-color: #2b807b;
		height: 100vh;
		text-align: center;
	}
	.centrar-flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#contenedor {
		height: 220px;
		width: 350px;
		background-color: rgba(0, 0, 0, 0.329);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(20px);
		flex-direction: column;
		box-shadow: 0 8px 32px 0 black;
		border-radius: 16px;
	}
	#color {
		font-size: 3.5rem;
		font-weight: bold;
		color: white;
	}
	button {
		font-size: 2rem;
		color: white;
		border-radius: 16px;
		padding: 1rem 2rem;
		margin: 1rem;
		user-select: none;
		background-color: rgb(31, 31, 228);
		cursor: pointer;
		transition-duration: 0.4s;
		border: none;
		&:hover {
			background-color: rgb(80, 80, 248);
		}
	}
</style>
